body {
  margin: 0;
  background-color: #FAFAF8;
}

header{
  background-color:white;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);}
header > img{
  width: 50px;
  margin-right: 10px;

}
header > h1{
  font-weight: 400;
}
.Input{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 12px;
  height: 38px;
  margin-top: 60px;

}
.Input > input{
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
}
.Input > button{
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #FAFAF8;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 9px 13px;
}
.Input > 
  button::before {
    content: "+";
    margin-right: 5px;
}
.Input > button:hover{
  background-color: #1A1A1A;
  color: #FAFAF8;
}
.Ingredient-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.Ingre-Header{
  margin-right: 17rem;
}
.Ingredient-List{
  margin-top: 10px;
  margin-left:auto;
  margin-bottom: 48px;
  margin-right: 60%;
}
.Ingredient-List > li{
  color: #475467;
  line-height: 28px;
}
.get-recipe-container{
    display: flex;
    gap: 63px;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 16px 34px;
    width:max-content;
    margin-left: auto;
    margin-right: auto;
}
.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}

.get-recipe-container p {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 20px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #D17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #FAFAF8;
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}

.Recipe-Section{
  margin-top: 48px;
  margin-left: 20px;
  border:2px #1A1A1A ;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
  margin-left: 20px;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
  margin-bottom: 8px;
}

[data-bs-theme="dark"] {
  background-color: #222222; /* Dark background */
  color: #cccccc; /* Light text */
}

.LoadingGif{
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent; /* Make background transparent */
}
.LoadingGif > img {
  width: 100px;
  height: 100px;
}

/* .loading-bar {
  width: 100%;
  height: 5px;
  background-color: #f0f0f0;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #007bff;
  animation: loading-animation 2s infinite;
}

@keyframes loading-animation {
  0% {
      width: 0%;
  }
  50% {
      width: 50%;
  }
  100% {
      width: 100%;
      transform: translateX(100%);
  }
} */
